@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0px;
    justify-content: center;
}

h1, #noBooks {
    text-align: center;
}

#addBookBtn {
    margin: 60px;
    width: 150px;
    justify-self: center;
}

#library, #heading {
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}


